body {
    background-color:#FBF0F8;
    box-sizing: 0;
    margin: 0;
}


/*configurações da barra de navegação*/

header {
	position: relative;
	top: 0;
	height: auto;
	width: 100%;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	z-index: 1;
	background-color: #FBF0F8;
	box-shadow: 0px 3px 8px #615f5f8d;
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	width: 60px;
	height: 60px;
	margin-top: 0;
	margin-left: -12%;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin-top: -15px;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 30px;
}

.nav-container li button {
	text-decoration: none;
	color: #666;
	transition: .5s;
	width: 154.31px;
	height: 37.41px;
	font-family: 'K2D', sans-serif;
	font-size: 20px;
	color: #FFAFCC;
	background-color: #FBF0F8;
	border: 3px solid #FFAFCC;
	border-radius: 55px;
}

/*-----------------------------------------------------------*/

.nav-container #vagas {
	color: #A2D2FF;
	border: 3px solid #A2D2FF;
}

.nav-container #entrar {
    width: 65px;
    margin-top: 18px;

}

.nav-container li button:hover {
	color: #A2D2FF;
}

.logo2 {
	margin-top: 8%;
}

#article1 {
	margin-top: 10%;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}
#section1 {
    margin-top: 10%;
    background-image: linear-gradient(to bottom,#FBF0F8 0%,  #FFAFCC 70%, #FBF0F8 100%, #FBF0F8 0%);

}
#section2 {
    margin-top: 8%;
    background-image: linear-gradient(to bottom,#FBF0F8 20%, #FBF0F8 0%, #A2D2FF 80%, #FBF0F8 100%);

}


summary {
	font-family: 'K2D', sans-serif;
	color: #A2D2FF;
	font-size: 25px;
	margin-top: 10%;
	margin-left: 10%;
	list-style-type: '+';
}

details[open] summary{
    list-style-type: '-';
}

.texto{
	font-family: 'K2D', sans-serif;
	font-size: 25px;
	color: #A2D2FF;
	margin-top: 10%;
	margin-left: 10%;
}

.texto1{
	font-family: 'K2D', sans-serif;
	font-size: 25px;
	color: #FFAFCC;
	margin-top: 10%;
	margin-left: 10%;
}

.mais{
	float: right;
	height: 100px;
	line-height: 100px;
}
.rodape {
	margin-top: 20%;
	border-top: 4px solid #A2D2FF;
	font-family: 'K2D', sans-serif;
}

.img2 {
	width: 45px;
	padding: 12px;
}

.img-bandeira {
	width: 90%;
}
